@{
    ViewData["Title"] = "File Storage";
}
<h2>File Storage</h2>
<form enctype="multipart/form-data" asp-action="UploadFile">
    <label>Select a file:</label>
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
<br />
<form asp-action="DownloadFile">
    <label>Download file:</label>
    <input type="text" name="fileName" placeholder="File name" />
    <input type="submit" value="Download" />
</form>